.success-pic {
    padding-top: 3em;
}

.success-pic-right {
    background: url(../../assets/image/success-r.jpg) no-repeat center/ cover;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-top: 1em;
}

.success-pic-center {
    background: url(../../assets/image/success-c.jpg) no-repeat center/ cover;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin: 0 .6em;
}

.success-pic-left {
    background: url(../../assets/image/success-l.jpg) no-repeat center/ cover;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-top: 1em;
}