.report-color {
    background-color: rgba(2, 46, 110, .9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.report-detail {
    margin: 7em 5em;
}

.report-detail i {
    font-size: 3em;
}

.report-detail span {
    font-size:2em;
}

.report-detail p {
    font-size: .5em;
}
