.container {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 40px 150px 150px 40px;
    grid-template-areas: "h h h h" "n m m s" "n m m s" "f f f f";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

main {
    grid-area: m;
}

aside {
    grid-area: s;
}

footer {
    grid-area: f;
}

.table {
    text-align: center;
    border: 1px solid black;
    font-size: 25px;
}